<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <%= stylesheet_link_tag('application', :media =>'all') %>
    <%= javascript_include_tag('application') %>
  </head>
  <body>
    <h1>Content#index</h1>
    <p>You can only be here once, you're logged in! :)</p>
  </body>
</html>
